<h2>Admin Page</h2>

<h3>Products</h3>
<table>
	<thead>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Description</th>
		<th>Price</th>
		<th>Priority</th>
		<th>Units</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	
<tbody>
<% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
	<td><%= product.priority %></td>
	<td><%= product.units %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>

</table>

<br />

<%= link_to 'New Product', new_product_path %>
