
 <div class="colelem" id="u982"><!-- image -->
<h1>Listing users</h1>

<table>
	<thead>
		<tr>
		<th>Name</th>
		<th>Email</th>
		<th></th>
		<th></th>
		<th></th>
		</tr>
	</thead>
	
	<tbody>
		<% @users.each do |user| %>
		  <tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= link_to 'Show', user %></td>
			<td><%= link_to 'Edit', edit_user_path(user) %></td>
			<td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New User', new_user_path,:class=>"button" %>   
  
	 </div>
    <div class="colelem" id="u195-4"><!-- rasterized frame -->
     <img id="u195-4_img" src="assets/u195-4.png" alt="PENFACT IT SOLUTIONS" width="317" height="18"/>
    </div>
    <div class="colelem" id="u196-15"><!-- rasterized frame -->
     <img id="u196-15_img" src="assets/u196-15.png" alt="For The Past 20 Years, Penfact Has Engineered Software Products And Developed Business Solutions For Clients Such As
General Electric And The U.S. Department Of Energy At Our Clients?Request We Have Developed Over The Years Software To Improve IT Operations And Business Productivity." width="429" height="131"/>
    </div>

