<%# encoding: utf-8 %>
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= full_title(yield(:title)) %></title>
	
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	<%= stylesheet_link_tag    "pfeast42zero" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  <script type="text/javascript">
   document.documentElement.className = 'js';
</script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="clearfix" id="page"><!-- group -->
   <div class="clearfix grpelem" id="master-header"><!-- group -->
    <div class="grpelem" id="u156"><!-- simple frame --></div>
   </div>
   <div class="clearfix grpelem" id="pppu994"><!-- column -->
    <div class="clearfix colelem" id="ppu994"><!-- group -->
     <div class="clearfix grpelem" id="pu994"><!-- group -->
      <div class="grpelem" id="u994"><!-- image -->
       <img id="u994_img" src="assets//penfact-it-bckgrnd-contact%20buttonc.png" alt="" width="105" height="97"/>
      </div>
      <a class="nonblock nontext grpelem" id="u159-4" href="contact.html"><!-- rasterized frame --><img id="u159-4_img" src="assets//u159-4.png" alt="Contact" width="58" height="12"/></a>
     </div>
     <div class="grpelem" id="u988"><!-- image -->
      <img id="u988_img" src="assets//penfact-it-bckgrnd-home%20buttonc.png" alt="" width="105" height="97"/>
     </div>
     <a class="nonblock nontext MuseLinkActive grpelem" id="u157-4" href="index.html"><!-- rasterized frame --><img id="u157-4_img" src="assets//u157-4.png" alt="HOME" width="55" height="12"/></a>
    </div>
    <div class="clearfix colelem" id="ppu1006"><!-- group -->
     <div class="clearfix grpelem" id="pu1006"><!-- group -->
      <div class="grpelem" id="u1006"><!-- image -->
       <img id="u1006_img" src="assets//penfact-it-bckgrnd-services%20buttonc.png" alt="" width="105" height="97"/>
      </div>
      <a class="nonblock nontext grpelem" id="u160-4" href="services.html"><!-- rasterized frame --><img id="u160-4_img" src="assets//u160-4.png" alt="Services" width="60" height="12"/></a>
     </div>
     <div class="grpelem" id="u1000"><!-- image -->
      <img id="u1000_img" src="assets//penfact-it-bckgrnd-helpdesk%20buttonc.png" alt="" width="105" height="97"/>
     </div>
     <a class="nonblock nontext grpelem" id="u158-8" href="help-desk.html"><!-- rasterized frame --><img id="u158-8_img" src="assets//u158-8.png" alt="Help Desk" width="38" height="78"/></a>
    </div>
    <div class="colelem" id="u981-4"><!-- rasterized frame -->
     <img id="u981-4_img" src="assets//u981-4.png" alt="forgot your password?" width="188" height="19"/>
    </div>
   </div>
   <div class="clearfix grpelem" id="pu982"><!-- column -->
    <div class="colelem" id="u982"><!-- image -->
     <img id="u982_img" src="assets//penfact-it-bckgrnd-city%20pic%20blockc.png" alt="" width="598" height="326"/>
    </div>
    <div class="colelem" id="u195-4"><!-- rasterized frame -->
     <img id="u195-4_img" src="assets//u195-4.png" alt="PENFACT IT SOLUTIONS" width="317" height="18"/>
    </div>
    <div class="colelem" id="u196-15"><!-- rasterized frame -->
     <img id="u196-15_img" src="assets//u196-15.png" alt="For The Past 20 Years, Penfact Has Engineered Software Products And Developed Business Solutions For Clients Such As
General Electric And The U.S. Department Of Energy At Our Clients?Request We Have Developed Over The Years Software To Improve IT Operations And Business Productivity." width="429" height="131"/>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn.businesscatalyst.com/scripts/1.1/jquery-1.7.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="assets/javascripts/1.1/jquery-1.7.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="assets/javascripts/1.1/museutils.js?3870218392" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   Muse.Utils.addSelectorFn('body', Muse.Utils.transformMarkupToFixBrowserProblemsPreInit);/* body */
Muse.Utils.addSelectorFn('a.nonblock', Muse.Utils.addHyperlinkAnchor); /* a.nonblock */
Muse.Utils.addSelectorFn('body', Muse.Utils.showWidgetsWhenReady);/* body */
Muse.Utils.addSelectorFn('body', Muse.Utils.transformMarkupToFixBrowserProblems);/* body */

</script>
</body>

<%= yield %>
</html>